.navBar {
    background-color: #00ffd9;
    height: 75px;
    text-align: center;
    font-size: 35px;
    margin: 0;
    border: 0;
    word-spacing: 30px;
    padding-top: 25px;
    padding-bottom: 0px;
}

.navBarElements {
    color: #4e4e4e;
    text-decoration: none;
    position: sticky;
}

.body {
    background-color: black;
    margin: 0
}

.aboutMe {
    height: auto;
    width: auto;
    padding-left: 20px;
    border-radius: 50px;
    margin: 5px;
    display: flex;
    flex-direction: row;
}

.aboutMeText {
    padding-top: 150px;
    color: white;
    text-align: center;
}

.aboutMePhoto {
    padding-top: 50px;
    padding-left: 340px;
    border-radius: 500px;
}

.projectsSection {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
}

.projectsList {
    margin-top: 150px;
    margin-left: 150px;
    border-style: solid;
    border-color: white;
    border-radius: 50px;
    height: 300px;
    width: 300px;
}

.projectsImage {
    margin-left: 90px;
    margin-top: 20px;
}

.projectsLink {
    margin-top: 50px;
    border-radius: 50px;
    border-style: solid;
    color: white;
    width: 100px;
    margin-left: 90px;
}

.projectsLinkText {
    color: white;
    text-align: center;
    text-decoration: none;
}